#
# Novatek NT36xxx touchscreen driver configuration
#
config TOUCHSCREEN_NT36523B
	bool "Novatek NT36523B"
	default y
	help
	  Say Y here if you have a Novatek NT36xxx touchscreen connected
	  to your system.

	  If unsure, say N.
